<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head") %>
    <title>SignUp</title>
  </head>
  <body>
    <%- include("./partials/nav") %>
    <div class="container mt-4">
      <form action="/user/signin" method="post">
        <div class="mb-3">
          <label for="exampleInputEmail" class="form-label"
            >Email address</label
          >
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            aria-describedby="email"
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword" class="form-label">Password</label>
          <input
            type="password"
            name="password"
            class="form-control"
            id="password"
          />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <%- include("./partials/scripts") %>
  </body>
</html>
